<meta content='{{page.cover}}' name='twitter:image'/>
<meta content='{{page.cover}}' name='facebook:image'/>
<link rel="icon" type="image/x-icon" href="{{page.cover}}" />
<meta content='https://www.facebook.com/mesinkasircomplete' property='facebook:author'/>
<meta content='{{page.description}}' property='facebook:description'/>
<meta content='{{page.description}}' name='twitter:description'/>
<meta content='index, follow' name='robots'/>
<meta content='https://twitter.com/hockeycomp' property='twitter:author'/>
<meta content='@hockeycomp' name='twitter:site'/>